<section class="example-section" *ngIf="breed || subBreed">
  <mat-radio-group
    aria-label="Select an option"
    [value]="'true'"
    (change)="onImageDisplayTypeChange($event)"
  >
    <mat-radio-button value="true">Show All Images</mat-radio-button>
    <mat-radio-button value="false">Show Random Images</mat-radio-button>
  </mat-radio-group>
</section>
<div class="container" *ngIf="!showAllImage">
  <label for="numOfImageInput">Select number of Random Image to display </label>
  <input
    id="numOfImageInput"
    type="number"
    [(ngModel)]="randomImgCount"
    min="1"
    max="50"
    [disabled]="showAllImage"
  />
  <button class="load-button" mat-raised-button color="primary" [disabled]="showAllImage" (click)="changeRandomImageDisplayCount()">
    Load
  </button>
</div>
<p class="error-message" *ngIf="showError">Please enter a number between 1 and 50.</p>

<div class="random-image-container" *ngIf="imageList$ | async as imageUrls">
  <div class="random-image-item" *ngFor="let imageUrl of imageUrls; trackBy: trackByImageUrl">
    <img [ngSrc]="imageUrl" alt="dog-image" fill priority/>
  </div>
</div>
