.random-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .random-image-item {
    width: 280px; /* Adjust width as needed */
    height: 200px;
    margin: 16px; /* Adjust margin as needed */
    position: relative;
  }
  .random-image-item img {
    object-fit: contain;
    object-position: 50% 50%;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box-shadow for a subtle effect */
  }
}
#numOfImageInput {
  height: 30px;
}
.load-button {
  margin-left: 8px;
}
.error-message {
  color: #ff0000;
}
