<div>
  <h3>Browse SubBreed</h3>
  <ng-container *ngIf="subBreedList$ | async as subBreedList">
    <breed-search
      [breedList]="breedList"
      [preSelectedValue]="breedName"
      (selectedBreedEmitter)="onBreedSelection($event)"
    ></breed-search>
    <breed-search
      [breedList]="subBreedList"
      [fieldTitle]="subBreedFieldTitle"
      [preSelectedValue]="subBreedName"
      (selectedBreedEmitter)="onSubBreedSelection($event)"
    ></breed-search>
    <random-image [breed]="breedName" [subBreed]="subBreedName"></random-image>
  </ng-container>
</div>
