<mat-sidenav-container class="sidenav-container">
  <!--Side Nav-->
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" [opened]="false">
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/list')">Breed List</a>
      <a mat-list-item (click)="navigateTo('/random-image')">Random Image</a>
      <a mat-list-item (click)="navigateTo('/by-breed')">By Breed</a>
      <a mat-list-item (click)="navigateTo('/by-subBreed')">By SubBreed</a>
      <a mat-list-item (click)="navigateTo('/browse-breed')">Browse Breed</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="header-toolbar">
      <button aria-label="menu" class="menu-icon" mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="header-content">
        <span><img class="header-image-icon" [src]="imageUrl" alt="image-icon"></span>
        <span>{{ title }}</span>
      </div>

    </mat-toolbar>
    <!--Main Content-->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
