.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    position: relative;
    img {
      object-fit: contain;
      object-position: 50% 50%;
    }
}
